html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #151515;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:active {
  color: #ffffff;
}

a:focus {
  color: #ffffff;
}

.section__title {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 64px;
  color: #f5f5f5;
  margin-top: 150px;
  margin-bottom: 105px;
}

.wrapper {
  max-width: 75%;
  margin: 0 auto;
}

/* Start styles for header */
.header {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background: url(../img/sigma.png) no-repeat right top;
  background-size: contain;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex-wrap: wrap;
}

.header__logo-pic {
  margin-right: 15px;
  width: 34px;
}

.head__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: auto 0;
  color: #f5f5f5;
}

.lang__selector {
  font-weight: 400;
  margin: auto 0;
}

.lang__selector a {
  float: right;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.en {
  margin-right: 30px;
}

.ru:focus,
.ru:active {
  font-weight: 700;
}

.en:focus,
.en:active {
  font-weight: 700;
}

.main__title {
  max-width: 500px;
  font-weight: 600;
  font-size: 60px;
  line-height: 64px;
  color: #f5f5f5;
  margin-top: 166px;
  margin-bottom: 50px;
}

.description {
  max-width: 450px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #b0adad;
  padding-bottom: 150px;
}
/* End styles for header */

/* Start styles for section of skills */
.skills {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.possibilities {
  margin-top: 100px;
}

.first__text {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.second__text {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.third__text {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.skills__text {
  width: 65%;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  color: #b0adad;
}

.line {
  width: 70px;
  height: 1px;
  border: 1px solid #b0adad;
  margin: auto 0;
  margin-right: 38px;
}
/* End styles for section of skills */

/* Start styles for section of reasons */
.reasons {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.reasons__card {
  width: 230px;
  height: 220px;
  border: 1px solid #f5f5f5;
  box-sizing: border-box;
  border-radius: 7px;
}

.rc__first-raw {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 190px;
}

.rc__second-raw {
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 190px;
}

.reasons__card img {
  display: block;
  margin: 0 auto;
  height: 80px;
  margin-top: 27px;
}

.reasons__card p {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  margin-top: 45px;
  color: #b0adad;
}

/* End styles for section of reasons */

/* Start styles for section of download */
.download {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.download__buttons {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 190px;
  width: 85%;
}

.download__button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 380px;
  height: 107px;
  border: 1px solid #f5f5f5;
  box-sizing: border-box;
  border-radius: 7px;
}

.download__button img {
  display: block;
  margin: auto 0;
  margin-left: 47px;
  width: 45px;
  height: 45px;
}

.download__button p {
  display: block;
  margin: auto 0;
  font-weight: 400;
  font-size: 27px;
  line-height: 36px;
  width: 60%;
  color: #b0adad;
}
/* End styles for section of download */

/* Start styles for footer */
.footer {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  height: 330px;
  background: url(../img/footer_vector.png) no-repeat top,
    rgba(196, 196, 196, 0.043);
  box-shadow: inset 66.4333px -66.4333px 66.4333px rgba(149, 149, 149, 0.043),
    inset -66.4333px 66.4333px 66.4333px rgba(255, 255, 255, 0.043);
  backdrop-filter: blur(67.762px);
}

.footer__logo {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}

.footer__logo-pic {
  width: 68px;
}

.footer__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  margin: auto 0;
  margin-left: 22px;
  color: #f5f5f5;
}

.footer__menu {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}

.footer__menu a {
  color: #b0adad;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  width: 12%;
}

.footer__vk-pic {
  width: 40px;
  height: 23px;
}

.footer__rights {
  color: #b0adad;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-top: 7px;
  float: right;
}
/* End styles for footer */

/* Media queries start */
@media (max-width: 575px) {
  .wrapper {
    max-width: 80%;
  }

  .section__title {
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 40px;
  }

  /* Start styles for header */
  .header {
    height: 500px;
  }

  .header__wrapper {
    padding-top: 10px;
  }

  .header__logo-pic {
    margin-right: 10px;
  }

  .head__title {
    font-size: 16px;
    line-height: 16px;
  }

  .lang__selector a {
    font-size: 16px;
    line-height: 16px;
  }

  .en {
    margin-right: 20px;
  }

  .main__title {
    max-width: 240px;
    font-size: 36px;
    line-height: 40px;
    margin-top: 90px;
  }

  .description {
    max-width: 260px;
    font-size: 19px;
    line-height: 26px;
    padding-bottom: 0;
  }
  /* End styles for header */

  /* Start styles for section of skills */
  .possibilities {
    margin-top: 80px;
  }

  .skills__text {
    width: 57%;
    font-size: 18px;
    line-height: 26px;
  }
  /* End styles for section of skills */

  /* Start styles for section of reasons */

  .reasons__card {
    width: 210px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .rc__first-raw {
    margin-bottom: 0px;
  }

  .rc__first-raw:last-child {
    margin-bottom: 0px;
  }

  .rc__second-raw {
    margin-bottom: 30px;
  }

  .reasons__card img {
    height: 70px;
  }

  .reasons__card p {
    font-size: 15px;
    line-height: 18px;
    margin-top: 40px;
  }
  /* End styles for section of reasons */

  /* Start styles for section of download */
  .download__buttons {
    margin-bottom: 50px;
  }

  .download__button {
    width: 350px;
    height: 85px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .download__button img {
    display: block;
    margin: auto 0;
    margin-left: 47px;
    width: 40px;
    height: 40px;
  }

  .download__button p {
    font-size: 20px;
    line-height: 20px;
  }

  /* End styles for section of download */

  /* Start styles for footer */
  .footer {
    height: 330px;
  }

  .footer__logo {
    padding-top: 30px;
  }

  .footer__logo-pic {
    width: 56px;
  }

  .footer__title {
    font-size: 20px;
    line-height: 28px;
    margin-left: 16px;
  }

  .footer__menu {
    justify-content: stretch;
    width: 100%;
    font-size: 17px;
    line-height: 17px;
  }

  .footer__menu a {
    max-width: 100px;
    margin-right: 25px;
  }

  .footer__contacts {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 12%;
  }

  .footer__vk-pic {
    margin-right: 10px;
  }

  .footer__rights {
    margin: 0;
  }
  /* End styles for footer */
}
/* Media queries end */
